{% extends 'base.html' %}

{% block buttons %}

{% endblock buttons %}

{% block content %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "theme": "edgeless"
})});
</script>
  <body id="small_body">
    <main id="main_for_small">
      <div id="index-child" class="child text-center">
        {% if request.user.is_authenticated %}
          <button class="btn btn-primary home-buttons" onclick="document.location.href='/planner/boxlist'">Box list</button>
          <button class="btn btn-primary home-buttons" data-toggle="collapse" data-target="#global-events">Global events</button>
          <div class="collapse" id="global-events">
            <button class="btn btn-info" onclick="document.location.href='/active_events/global'">Current events</button>
            <button class="btn btn-info" disabled>Permanent events</button>
          </div>
          <button class="btn btn-primary home-buttons" data-toggle="collapse" data-target="#japan-events">Japan events</button>
          <div class="collapse" id="japan-events">
            <button class="btn btn-info" onclick="document.location.href='/active_events/japan'">Current events</button>
            <button class="btn btn-info" disabled>Permanent events</button>
          </div>
        {% else %}
          <button type="button" class="btn btn-success home-buttons" onclick="document.location.href='/login'">Login</button>
          <button type="button" class="btn btn-success home-buttons" onclick="document.location.href='/signup'" disabled>Register</button>
          <button class="btn btn-secondary home-buttons" title="Login to view your boxes" disabled>Box list</button>
          <button class="btn btn-secondary home-buttons" title="Login to view your boxes" disabled>Current events</button>
        {% endif %}
      </div>
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 mt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Powerd by Senji</h5>
            <a href="mailto:senji.no.kaizoku@gmail.com">Contact me</a>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-6 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        OPTC-FP doesn't own any of the content showed in the website. Every content is owned by Eiichiro Oda/Shueisha, Toei Animation and Bandai Namco.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </body>
{% endblock content %}
